<!DOCTYPE html>
<html ng-app ="TodoApp">
  <head>
    <meta charset="utf-8">
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Todos</title>
  </head>
  <body>
    <div class="container">
    </br>
      <center><h1>Welcome to TODOS</h1></center>
    </br>
      <div ng-controller="AddTodoController">
        <form name="TodoForm">
          <div class="form-group">
            <label for="Title">Todo</label>
            <input type="text" class="form-control"  id="Title" placeholder="Add new todo..." ng-model="title">
          </div>
          <button type="button" class="btn btn-success" ng-click="add()" >Add</button>
        </form>
      </div>
      </br>
        <h2>Todos list</h2>
      <div ng-controller="UpdateCheckboxController">
        <div ng-controller="ListTodoController">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Check</th>
                <th>Todo</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="todo in todos" >
                <td><input type="checkbox" ng-model="done" ng-checked="todo.done === true" ng-click = "update(todo)"></td>
                <td>{{ todo.title}}</td>
                <td><ng-show ng-show = "todo.done === true">Complete</ng-show></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/angular/angular.js" charset="utf-8"></script>
    <script src="app.js"></script>
  </body>
</html>
